body {
	font-family: "Montserrat";
	color: #161c1c;
}

table {
	margin: 60px auto 30px auto;
	text-align: center;
}

td {
	padding: 8%;
	background-color: #6bc4c4;
	border-radius: 10px;
}

.clock {
	text-align: center;
	width: 27%;
	min-width: 322px;
	background-color: #6bc4c4;
	margin: auto;
	padding: 3%;
	border-radius: 10px;
}

.sessionLine {
	font-size: 60px;
}

.fa {
	font-size: 26px;
	padding-right: 13px;
	padding-left: 13px;
}