body {
	font-family: "Montserrat";
}

table {
	margin: 100px auto 30px auto;
	text-align: center;
}

td {
	padding: 30px;
}

.clock {
	text-align: center;
	width: 27%;
	background-color: #6bc4c4;
	margin: auto;
	padding: 3%;
	border-radius: 10px;
}

.sessionLine {
	font-size: 60px;
}