body {
	font-family: "Montserrat";
	color: #161c1c;
	text-align: center;
}

table {
	margin: 40px auto 20px auto;
	text-align: center;
}

td {
	background-color: #6bc4c4;
	border-radius: 10px;
	width: 205px;
	height: 100px;
}

h1 {
	text-transform: uppercase;
	margin-top: 50px;
}

td:nth-of-type(2) {
	width: 20px;
	background-color: white;
}

.clock {
	width: 360px;
	background-color: #6bc4c4;
	margin: 0 auto;
	padding: 3%;
	border-radius: 10px;
}

.sessionLine {
	font-size: 60px;
}

.fa {
	font-size: 26px;
	padding-right: 13px;
	padding-left: 13px;
}

.sessionMinus:hover,
.sessionPlus:hover,
.breakMinus:hover,
.breakPlus:hover,
.fa:hover {
	opacity: 0.6;
}

.sessionMinus,
.sessionPlus,
.breakMinus,
.breakPlus {
	font-size: 24px;
	font-weight: 700;
}